.hero {
    position: relative;
    width: 95%;
    height: calc(100vh - 4rem);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5%;
    font-family: var(--font-family-base);
}

.video_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(
        to bottom right,
        var(--color-bg-card) 0%,
        var(--color-bg) 100%
    );
    opacity: 0.7;
}

.content {
    position: relative;
    z-index: 3;
    text-align: right;
    color: var(--color-text);
}

.title {
    font-size: var(--heading-lg);
    font-weight: var(--font-bold);
    margin: 0;
}

.slogan {
    font-size: var(--heading-md);
    font-weight: var(--font-medium);
    margin: 0;
    color: var(--color-text-secondary);
}
