.wrapper {
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  min-width: 700px;

  background-color: var(--color-bg-card);
  border: 1px solid var(--color-border);
  border-radius: 0.75rem;

  font-family: var(--font-family-base);
  font-size: var(--text-md);
  color: var(--color-text);

  table-layout: fixed;
}

.table thead {
  background-color: var(--blue-primary);
  color: white;
}

.table th {
  text-align: left;
  padding: 0.85rem 1rem;
  font-weight: var(--font-semibold);
  white-space: nowrap;
}

.colName, .colDescription, .colCount{
  width: 33%;
}
.colCount {
  text-align: center !important; 
}

.table tbody tr {
  transition: background-color 0.25s ease;
  vertical-align: middle;
}

.table tbody tr:nth-child(even) {
  background-color: var(--color-bg);
}

.table td {
  padding: 0.85rem 1rem;
  color: var(--color-text-secondary);
  vertical-align: middle;
}

.table tbody tr:hover{
  background-color: var(--blue-primary-light);
}

.table tbody tr:hover td{
  color: var(--blue-primary-dark);
}
